<div class="container m-auto">
    <div class="btn_add_edit">
        <input class="btn btn-primary" type="button" value="Додавання нового товару" (click)="add_click_btn()">
        <button type="button" class="btn btn-danger" (click)="editLogin()">Зміна паролю та логіну</button>
    </div>
    <div *ngIf="edit_log_pass">
        <h1 style="color: red; font-weight: bold; text-align: center;">Компонент на стадії розробки</h1>
        <hr style="color: red;">
        <h1 style="text-align: center; font-weight: bold;">{{email}}</h1><br>
        <form class="m-auto"
            style="width: 350px; background-color: azure; border-radius: 5px; color: red; padding: 10px; margin-top: 20px;">
            <!-- <div class="mb-3">
                <label for="email" class="form-label">Ваш email</label>
                <input type="email" class="form-control" [(ngModel)]="email" id="email" name="email" [readonly]="true">
            </div> -->
            <div class="mb-3">
                <label for="login" class="form-label">Введіть login</label>
                <input type="text" class="form-control" [(ngModel)]="login" id="login" name="login">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Введіть новий пароль</label>
                <input type="text" class="form-control" [(ngModel)]="password" id="password" name="password">
            </div>
            <div class="mb-3">
                <label for="password_return" class="form-label">Повторіть новий пароль</label>
                <input type="text" class="form-control" [(ngModel)]="password_return" id="password_return"
                    name="password_return">
            </div>
            <div class="mb-3">
                <label for="firmName" class="form-label bg-blue">Назва вашої
                    компанії</label>
                <input type="text" class="form-control" [(ngModel)]="firmName" id="firmName" name="firmName"
                    [readonly]="true">
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-danger" (click)="edit_form_admin()">Змінити</button>
            </div>
        </form>
    </div>

    <!-- ADD PRODUCT -->
    <div *ngIf="add_btn" class="container text-center ">
        <form action="" style="width: 350px;" class="m-auto">
            <div class="mb-1">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="name" [(ngModel)]="name" name="name">
            </div>
            <div class="mb-1">
                <label for="producer" class="form-label">Producer</label>
                <input type="text" class="form-control" id="producer" placeholder="producer" [(ngModel)]="producer"
                    name="producer">
            </div>
            <div class="mb-1">
                <label for="year" class="form-label">Year</label>
                <input type="number" class="form-control" id="year" placeholder="year" [(ngModel)]="year" name="year">
            </div>
            <div class="mb-1">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" placeholder="price" [(ngModel)]="price"
                    name="price">
            </div>
            <div class="mb-1">
                <label for="color" class="form-label">Color</label>
                <input type="text" class="form-control" id="color" placeholder="color" [(ngModel)]="color" name="color">
            </div>
            <div class="mb-1">
                <label for="image" class="form-label">Image URL:</label>
                <input type="text" class="form-control" id="image" placeholder="image" [(ngModel)]="image" name="image">
            </div>
            <div class="mb-1">
                <label for="type" class="form-label">Type</label>
                <input type="text" class="form-control" id="type" placeholder="каяк, трейлер, весло або інше"
                    [(ngModel)]="type" name="type">
            </div>

            <!-- description -->
            <div class="mb-1">
                <label for="type" class="form-label">Description</label>
                <textarea name="description" class="form-control" id="description" [(ngModel)]="description"
                    name="description" cols="30" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-success" (click)="addKayak()">Додати товар</button>
        </form>
    </div>
</div>

<!-- <h1 style="text-align: center;">
    <button type="button" (click)="getTrailersBTN()">показати всі трейлери</button>
</h1>
<div *ngIf="trailers_display">всі трейлери</div><br> -->


<div class="pt-4">
    <div *ngIf="card_admin" class="d-flex">
        <div class="qq">
            <div *ngFor="let kayak of kayaks_list">
                <div class="card p-2" style="width: 18rem; min-height: 300px;">
                    <b class="text-end">
                        <button class="x_style" (click)="deleteKayak(kayak.id)">X</button>
                    </b>
                    <img [src]="kayak.image" height="140vh" class="card-img-top" alt="{{ kayak.name }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ kayak.name }}</h4>
                        <p class="card-text text_style">
                            Виробник: {{ kayak.producer }}<br>
                            Рік виготовлення: {{ kayak.year }}<br>
                            ціна: {{ kayak.price }}<br>
                            колір: {{ kayak.color }}<br>
                            тип: {{ kayak.type }}<br>
                            Опис: {{ kayak.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>