<footer>
    <div class="container">
        <p>&copy; {{ formattedDate }} <a routerLink="/products" class="kayaksport_logo_style hover_test">{{ firmName }} </a> Усі
            права захищені.
            <span style="float: right;">made in: <a style="text-decoration: none;" target="_blank"
                    href="https://www.facebook.com/people/%D0%9E%D0%BB%D0%B5%D0%BA%D1%81%D1%96%D0%B9-%D0%9A%D1%83%D0%B7%D1%8C%D0%BC%D1%96%D0%BD%D0%BE%D0%B2/pfbid0CRbhviQm8YGx9W3LTCrbjQoTQhrJX4xFQzzNL227Aqnih9TXDgyDKYQtzS7mTzKLl/">{{deweloper}}</a></span>
        </p>
    </div>
</footer>