<div><br>
    <h1 class="text-center" style="font-weight: bold;">Причеп / Трейлер</h1><br>
    <div style="text-align: center; font-weight: bold;">
        <h3>Всі причепи по індивідуальному замовленню! <br>
            тел. <a style="text-decoration: none; color: blue; font-weight: bold;"
                href="tel:+38093-285-82-18">+38093-285-82-18</a><span style="font-weight: bold;"> Сергій</span>
        </h3>
    </div><br>
    <div class="parent m-auto">
        <div class="p-2" *ngFor="let trailer of trailers">
            <div class="card m-auto p-2" style="width: 18rem;">
                <img src="{{trailer.image}}" alt="{{trailer.name}}">
                <h4 class="card-title">{{ trailer.name }}</h4>
                <div class="card-body">
                </div>
                <p class="card-text text_style">
                    Виробник: {{ trailer.producer }}<br>
                    Рік виготовлення: {{ trailer.year }}<br>
                    ціна: {{ trailer.price }}<br>
                    колір: {{ trailer.color }}<br>
                    тип: {{ trailer.type }}<br>
                    Опис: {{ trailer.description }}
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="parent">
        <div class="card m-auto p-2" style="width: 18rem;">
            <img src="assets/images_kayakSport/trailer/trailer_1.jpg" alt="trailers_1">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card m-auto p-2" style="width: 18rem;">
            <img src="assets/images_kayakSport/trailer/trailer_2.jpg" alt="trailers_2">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card m-auto p-2" style="width: 18rem;">
            <img src="assets/images_kayakSport/trailer/trailer_3.jpg" alt="trailers_3">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card m-auto p-2" style="width: 18rem;">
            <img src="assets/images_kayakSport/trailer/trailer_4.jpg" alt="trailers_4">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card m-auto p-2" style="width: 18rem;">
            <img src="assets/images_kayakSport/trailer/trailer_5.jpg" alt="trailers_5">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card m-auto p-2" style="width: 18rem;">
            <img src="assets/images_kayakSport/trailer/trailer_6.jpg" alt="trailers_6">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div> -->
</div>