<div>
    <h1 class="text-center">Прицеп / Трейлер</h1>
    <div class="parent">
        <div class="card m-auto p-2" style="width: 18rem;">
            <img src="assets/images_kayakSport/trailer/trailers_2.jpg" alt="trailers_1">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card m-auto p-2" style="width: 18rem;">
            <img src="assets/images_kayakSport/trailer/Прицеп для байдарок Н0-2616-1.jpg" alt="trailers_2">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card m-auto p-2" style="width: 18rem;">
            <img src="assets/images_kayakSport/trailer/Прицеп для байдарок Н3-6815.jpg" alt="trailers_3">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>