.body_image {
    background-image: url("https://rivnefish.com/s3/fd00d-4602-photo/photo/medium-dc5e3f33e33e7ac2aa283e549b62490d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}