<!-- <h1 style="text-align: center;">{{firmName}}</h1> -->
<div class="p-4">
    <form class="d-flex m-auto" style="width: 70vw;" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText"
            name="searchText">
        <button class="btn btn-success" type="submit" (click)="search()">Search</button>
    </form>

    <div class="text-center mt-4">
        <!-- <button class="interesting-button">Цікавий</button> -->
        <button class="btn btn-primary m-2 interesting-button" (click)="filterByType('', 'Всі товари')">Всі товари</button>
        <button class="btn btn-primary m-2 interesting-button" (click)="filterByType('каяк', 'Каяки')">Каяки</button>
        <button class="btn btn-primary m-2 interesting-button" (click)="filterByType('весло', 'Весла')">Весла</button>
        <button class="btn btn-primary m-2 interesting-button" (click)="filterByType('інше', 'Інше')">Інше</button>
    </div>

    <!-- Результати пошуку -->
    <div *ngIf="searchResults.length > 0" class="p-2">
        <h2 style="font-weight: bold; text-align: center;">Результати пошуку: </h2>
        <div class="d-flex flex-wrap" style="justify-content: center;">
            <div *ngFor="let kayak of searchResults" class="p-2">
                <div class="card p-3 mx-auto" style="width: 18rem; min-height: 300px;">
                    <img [src]="kayak.image" height="140vh" class="card-img-top" alt="{{ kayak.name }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ kayak.name }}</h4>
                        <p class="card-text text_style">
                            Виробник: {{ kayak.producer }}<br>
                            Рік виготовлення: {{ kayak.year }}<br>
                            ціна: {{ kayak.price }}<br>
                            колір: {{ kayak.color }}<br>
                            тип: {{ kayak.type }}<br>
                            Опис: {{ kayak.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 *ngIf="selectedType; else elseBlock" class="text-center" style="font-weight: bold;">{{value1}}</h1>
    <ng-template #elseBlock>
        <h1 class="text-center" style="font-weight: bold;">Всі товари</h1>
    </ng-template>

    <div class="d-flex flex-wrap" style="justify-content: center;">
        <div *ngFor="let kayak of kayaks" class="p-3">
            <div *ngIf="showByType(kayak.type)">
                <div class="card p-3 mx-auto" style="width: 18rem; min-height: 300px;">
                    <img [src]="kayak.image" height="140vh" class="card-img-top" alt="{{ kayak.name }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ kayak.name }}</h4>
                        <p class="card-text text_style">
                            Виробник: {{ kayak.producer }}<br>
                            Рік виготовлення: {{ kayak.year }}<br>
                            ціна: {{ kayak.price }}<br>
                            колір: {{ kayak.color }}<br>
                            тип: {{ kayak.type }}<br>
                            Опис: {{ kayak.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>